.content h3, .content address {
    text-align: center;
}

li .item {
    list-style-type: none;
}

.image img {
    list-style: none;
    border-radius: 1rem;
    align-items: center;
    width: auto;
    margin: 1rem 35rem;
}



.actions button {
    cursor: pointer;
    font: inherit;
    border: none;
    background: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 1rem 45rem;
}
